[Unit]
Description=Sentinel Probe Daemon
After=network.target

[Service]
ExecStart=/home/s3nok/termux-sentinel/venv/bin/python /home/s3nok/termux-sentinel/probe.py --daemon --scan 192.168.1.0/24 --interval 300
WorkingDirectory=/home/s3nok/termux-sentinel
Environment="GOOGLE_APPLICATION_CREDENTIALS=/home/s3nok/termux-sentinel/serviceAccountKey.json"
Restart=always

[Install]
WantedBy=multi-user.target
